.container {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 100px;
    flex-direction: column;
    padding: 100px;
}

.h1 {
    border: 2px solid blue;
    padding: 5px;
    display: flex;
}

.btn {
    width: 20%;
    display: flex;
    justify-content: center;
}

.List {
    display: flex;
    flex-direction: column;
    transition: all 0.4s ease-out;
}


.ListShow {
    opacity: 1;
}

.ListHide {
    opacity: 0;
}


.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 600ms linear 200ms;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 200ms linear;
}